{{#if results.length}}
<h3>{{results.length}} results found</h3>
<div class="container">
  <div class="row">
    {{#each results}}
    <div class="col-4 mt-4">
      <div class="card bg-dark">
        <img class="card-img-top text-white" src="..." alt="Card image cap">
        <div class="card-body text-white">
          <h5 class="card-title">{{this.restaurant_name}}</h5>
          <p class="card-text">Address:{{this.restaurant_address}}</p>
          <p class="card-text">Price:{{this.price_range}}</p>
          <p class="card-text">Category:{{this.restaurant_category}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{else}}
<h1>No results found</h1>
{{/if}}