{{#if results.length}}
<h3>
  <p class="text-center">{{results.length}} results found</p>
</h3>

<form action="/result" method="get">
<label for="filter">Sort Results By:</label>
  <select class="form-control" id="filter" name="filter" onchange="this.form.submit()">
    <option value="Featured">Featured</option>
    <option value="Low to High">Price: Low to High</option>
    <option value="High to Low">Price: High to Low</option>
  </select>
</form>

<div class="container">
  <div class="row">
    {{#each results}}
    <div class="col-4 mt-4">
      <div class="card bg-dark">
        <a href="/selected">
          <img class="card-img-top" style="height:200px; object-fit:cover;" src={{this.image_path}}
            alt="Card image cap">
        </a>
        <div class="card-body text-white">
          <h5 class="card-title">{{this.restaurant_name}}</h5>
          <p class="card-text">Address:{{this.restaurant_address}}</p>
          <p class="card-text">Price:{{this.price_range}}</p>
          <p class="card-text">Category:{{this.restaurant_category}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{else}}
<h1>No results found</h1>
{{/if}}

<div id="map">
</div>